{% extends "base.html" %}
{% block title %} Städte/Gemeinde {% endblock %}
{% block content %}
    <h1>Städte/Gemeinde</h1>
    <div class="searchbar background-center">
        <form action="" method="GET">
            <input type="text" name="city" placeholder="Hier Ort eingeben..." value="{{ search }}">
            <button class="flex-center" type="submit">Suchen</button>
        </form>
        </div>
    <div class="content-citys">
        {% for city in cities|dictsort:"name" %}
            <div class="city-item background-center">
                <div class="city-name flex-center">
                    <a href="{% url 'weather' %}?city={{ city.name }}">{{city.name}}</a>
                </div>
                <div class="city-cordinates flex-center">
                    {{ city.latitude|floatformat:2 }}°N, {{ city.longitude|floatformat:2 }}°E
                </div>
                {% if user.is_authenticated %}
                <div class="favorite-button flex-center">
                    <form method="POST" action="{% url 'add_favorite' city.id %}">
                        {% csrf_token %}
                        <button class="flex-center" type="submit">Favorit hinzufügen</button>
                    </form>
                    <form method="POST" action="{% url 'remove_favorite' city.id %}">
                        {% csrf_token %}
                        <button class="flex-center" type="submit">Favorit entfernen</button>
                    </form>
                </div>
                {% else %}
                <div class="favorite-button flex-center"></div>
                {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}