{% extends "base.html" %}
{% block title %} Cities {% endblock %} <!-- Hier kann Webseite Titel bestimmt werden -->
{% block content %}
    <h1>Cities</h1>
    <div class="searchbar">
        <form action="" method="GET">
            <input type="text" name="city" placeholder="Suchfeld" value="{{ search }}">
            <button type="submit">Suchen</button>
        </form>
        </div>
    <div class="content-citys">
        {% for city in cities %}
            <div class="city-item">
                <div class="city-name">
                    {{ city.name }}
                </div>
                <div class="city-cordinates">
                    {{ city.latitude|floatformat:2 }}°N, {{ city.longitude|floatformat:2 }}°E
                </div>
                {% if user.is_authenticated %}
                <div class="favorite-button">
                    <form method="POST" action="{% url 'add_favorite' city.id %}">
                        {% csrf_token %}
                        <button type="submit">Favorite</button>
                    </form>
                    <form method="POST" action="{% url 'remove_favorite' city.id %}">
                        {% csrf_token %}
                        <button type="submit">Favorite Remove</button>
                    </form>
                </div>
                {% else %}
                <div class="favorite-button">
                    <p>
                        Für Favoriten müssen sie angemeldet sein.
                    </p>
                </div>
                {% endif %}
        </div>
        {% endfor %}
    </div>
{% endblock %}