{% extends "base.html" %}
{% block title %} Citys {% endblock %} <!-- Hier kann Webseite Titel bestimmt werden -->
{% block content %}
    <h1>Citys</h1>
    <div class="searchbar">
            <input type="text" placeholder="Suchfeld">
            <button type="button">Suchen</button>
        </div>
    <div class="content-citys">
        <div class="city-item">City</div>
        <div class="city-item">City</div>
        <div class="city-item">City</div>
        <div class="city-item">City</div>
        <div class="city-item">City</div>
        <div class="city-item">City</div>
    </div>
{% endblock %}