{% extends "base.html" %} {% block title %} Home {% endblock %}
<!-- Hier kann Webseite Titel bestimmt werden -->
{% block content %}
<h1>Home</h1>
<div class="content-home">
  <div class="content-home-text">
    <h2>Herzlich Wilkommen auf der Wetterapp.</h2>
    <h2>Hier können sie nachschauen wie das Wetter ist.</h2>
  </div>
  {% if user.is_authenticated %}
  <div class="content-home-last-citys">
    <h3>Letzte Suchergebnisse</h3>
    <ul>
      {% for city in last_cities %}
        <li>{{ city.city.name }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="content-home-favorite-citys">
    <h3>Gespeicherte Orte</h3>
    <ul>
      <li>Ort</li>
    </ul>
  </div>
  {% else %}
  <div class="content-home-last-citys">
    <h3>Letzte Suchergebnisse</h3>
    <h3>Für dieses Feature muss du angemeldet sein. </h3>
    {% csrf_token %}
  <a href="{% url 'login' %}">Login</a>
  </div>
  <div class="content-home-favorite-citys">
    <h3>Gespeicherte Orte</h3>
    <h3>Für dieses Feature muss du angemeldet sein.</h3>
    {% csrf_token %}
  <a href="{% url 'login' %}">Login</a>
  </div>
</div>
{% endif %}
{% endblock %}