{% extends "base.html" %} {% block title %} Startseite {% endblock %}
{% block content %}
{% load static %}
<h1>Startseite</h1>
<div class="content-home">
  <div class="content-home-text background-center">
    <h2>Herzlich Wilkommen auf der Wetterapp.</h2>
    <img src="{% static 'wetterapp/css/icons/partly-cloudy-day.svg' %}?v=2" alt="Weather Icon" draggable="false">
  </div>
  {% if user.is_authenticated %}
  <div class="content-home-last-citys background-center">
    <h3>Letzte Suchergebnisse</h3>
    <ul>
      {% for city in last_cities %}
        <li><a href="{% url 'weather' %}?city={{ city.city.name }}">{{ city.city.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  <div class="content-home-favorite-citys background-center">
    <h3>Gespeicherte Orte</h3>
    <ul>
      {% for city in favorite_cities %}
      <li><a href="{% url 'weather' %}?city={{ city.city.name }}">{{ city.city.name }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% else %}
  <div class="content-home-last-citys background-center">
    <h3>Letzte Suchergebnisse</h3>
    <p>Für dieses Feature muss du angemeldet sein. Hier <a href="{% url 'login' %}">anmelden.</a></p>
    {% csrf_token %}
  </div>
  <div class="content-home-favorite-citys background-center">
    <h3>Gespeicherte Orte</h3>
    <p>Für dieses Feature muss du angemeldet sein. Hier <a href="{% url 'login' %}">anmelden.</a></p>
    {% csrf_token %}
  </div>
</div>
{% endif %}
{% endblock %}