{% extends "base.html" %}
{% block title %} Weather {% endblock %}
{% block content %}
{% load static %}
    <h1>Weather</h1>
    <div class="content-weather">
        <div class="searchbar">
            <form method="get">
                <input name="city" type="text" placeholder="Suchfeld">
                <button type="submit">Suchen</button>
        </form>
        </div>
        {% if city_found == False %}
            <script>
                alert("Ort: {{ city_name }} wurde nicht gefunden. Bitte beachte das man nur Schweizer Orte suchen kann z.B Zürich.")
            </script>
        {% endif %}
        <!-- Stündliche Übersicht Elemente -->
        <div class="weather-hour-text"><h2>Stündliche Übersicht</h2></div>
        <div class="weather-place">Ort: {{ city_name }} <br> {{ coordinates.latitude|floatformat:2 }}°N {{ coordinates.longitude|floatformat:2 }}°E
        <img src="{% static 'wetterapp/css/icons/compass.svg' %}?v=2" alt="Compass" draggable="false">
        </div>
        <div class="weather-temperature">Temperatur: {{ current_temp|floatformat:1 }}°C
            {% if current_temp > prev_temp %}
            <img src="{% static 'wetterapp/css/icons/thermometer-warmer.svg' %}?v=2" alt="Warmer" draggable="false">
            {% elif current_temp < prev_temp %}
            <img src="{% static 'wetterapp/css/icons/thermometer-colder.svg' %}?v=2" alt="Colder" draggable="false">
            {% else %}
            <img src="{% static 'wetterapp/css/icons/thermometer-celsius.svg' %}?v=2" alt="Thermometer" draggable="false">
            {% endif %}
        </div>
        <div class="weather-pressure">Druck: {{ current_pressure|floatformat:0 }} hPa
            <img src="{% static 'wetterapp/css/icons/barometer.svg' %}?v=2" alt="Pressure-Icon" draggable="false">
        </div>
        <div class="weather-condition">Aktuelle Wetterlage: {{ current_condition_text }}</div>
        <div class="weather-icon-hour" draggable="false">
          <img src="{% static 'wetterapp/css/icons/'%}{{ condition_icon_hourly|default:'not-available' }}.svg?v=2" alt="{{ condition_icon_hourly }}" draggable="false">
        </div>
        <div class="weather-wind-speed">Windgeschwindigkeit: {{ hourly_wind|floatformat:2 }} km/h <img src="{% static 'wetterapp/css/icons/windsock.svg' %}?v=2" alt="" draggable="false"></div>
        <div class="weather-wind-speed-icon">
          {% if hourly_wind %}
            <img src="{% static 'wetterapp/css/icons/wind-beaufort-' %}{{ beaufort }}.svg" alt="Beaufort {{ beaufort }} Icon">
          {% else %}
            <img src="{% static 'wetterapp/css/icons/not-available.svg' %}" alt="" draggable="false">
          {% endif %}
        </div>
        <!-- Tägliche Übersicht Elemente -->
        <div class="weather-daily-text"><h2>Tages Übersicht</h2></div>
        <div class="weather-daily-min-temp">Min Temperatur: {{ daily_min_temp|floatformat:1 }}°C</div>
        <div class="weather-daily-max-temp">Max Temperatur: {{ daily_max_temp|floatformat:1 }}°C</div>
        <div class="weather-condition-daily">Tageswetterlage: {{ daily_condition_text }}</div>
        <div class="weather-sunrise">Sonnenaufgang: {{ sunrise|time:"H:i" }}
            <img src="{% static 'wetterapp/css/icons/sunrise.svg' %}?v=2" alt="Sunrise Icon" draggable="false">
        </div>
        <div class="weather-sunset">Sonnenuntergang: {{ sunset|time:"H:i" }}
            <img src="{% static 'wetterapp/css/icons/sunset.svg' %}?v=2" alt="Sunset Icon" draggable="false">
        </div>
        <div class="weather-icon-daily" draggable="false">
          <img src="{% static 'wetterapp/css/icons/'%}{{ condition_icon_daily|default:'not-available' }}.svg?v=2" alt="{{ condition_icon_daily }}" draggable="false">
        </div>
        {% if hourly_temps %}
        <div class="weather-diagram-temp">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
            <div class="diagram-inner">
              <canvas class="weather-temp-diagram" id="myChart-temp"></canvas>
            </div>
            <script>
                const xValuestemperture = ["0 Uhr","1 Uhr","2 Uhr","3 Uhr","4 Uhr","5 Uhr","6 Uhr","7 Uhr","8 Uhr","9 Uhr","10 Uhr","11 Uhr","12 Uhr","13 Uhr","14 Uhr","15 Uhr","16 Uhr","17 Uhr","18 Uhr","19 Uhr","20 Uhr","21 Uhr","22 Uhr","23 Uhr"];
                const yValuestemperature = {{ hourly_temps }};
                const ctxtemperature = document.getElementById('myChart-temp');

                new Chart(ctxtemperature, {
                  type: "line",
                  data: {
                    labels: xValuestemperture,
                    datasets: [{
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(0,0,255,1.0)",
                      borderColor: "rgba(0,0,255,0.1)",
                      data: yValuestemperature
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {display:false},
                      title: {
                        display: true,
                        text: "Temperatur Verlauf",
                        font: {size:16}
                      },
                      scales: {
                        y: {
                          min: 0
                        },
                        x: {
                          ticks: {
                            maxRotation: 0,
                            minRotation: 0
                          }
                        }
                      }
                    }
                  }
                });
            </script>
        </div>
        <div class="weather-diagram-precipitation">
            <div class="diagram-inner">
              <canvas class="weather-precipitation-diagram" id="myChart-precipitation"></canvas>
            </div>
            <script>
                const xValuesprecipitation = ["0 Uhr","1 Uhr","2 Uhr","3 Uhr","4 Uhr","5 Uhr","6 Uhr","7 Uhr","8 Uhr","9 Uhr","10 Uhr","11 Uhr","12 Uhr","13 Uhr","14 Uhr","15 Uhr","16 Uhr","17 Uhr","18 Uhr","19 Uhr","20 Uhr","21 Uhr","22 Uhr","23 Uhr"];
                const yValuesprecipitation = {{ hourly_precipitation }};
                const ctxprecipitation = document.getElementById('myChart-precipitation');

                new Chart(ctxprecipitation, {
                  type: "line",
                  data: {
                    labels: xValuesprecipitation,
                    datasets: [{
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(0,0,255,1.0)",
                      borderColor: "rgba(0,0,255,0.1)",
                      data: yValuesprecipitation
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {display:false},
                      title: {
                        display: true,
                        text: "Niederschlag",
                        font: {size:16}
                      }
                    }
                  }
                });
            </script>
        </div>
        <div class="weather-pollen-text-alder">Erlen Pollen Belastung: {{ current_pollen_alder }} <br> <img src="{% static 'wetterapp/css/icons/pollen-tree.svg' %}" alt=""> </div>
        <div class="weather-diagram-pollen-alder">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
            <div class="diagram-inner">
              <canvas class="weather-pollen-diagram" id="myChart-alder"></canvas>
            </div>
            <script>
                const xValuespollen_alder = ["0 Uhr","1 Uhr","2 Uhr","3 Uhr","4 Uhr","5 Uhr","6 Uhr","7 Uhr","8 Uhr","9 Uhr","10 Uhr","11 Uhr","12 Uhr","13 Uhr","14 Uhr","15 Uhr","16 Uhr","17 Uhr","18 Uhr","19 Uhr","20 Uhr","21 Uhr","22 Uhr","23 Uhr"];
                const yValuespollen_alder = {{ pollen_alder }};
                const ctxpollen_alder = document.getElementById('myChart-alder');

                new Chart(ctxpollen_alder, {
                  type: "line",
                  data: {
                    labels: xValuespollen_alder,
                    datasets: [{
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(0,0,255,1.0)",
                      borderColor: "rgba(0,0,255,0.1)",
                      data: yValuespollen_alder
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {display:false},
                      title: {
                        display: true,
                        text: "Erlen Pollen Verlauf pro m³",
                        font: {size:16}
                      },
                      scales: {
                        y: {
                          min: 0
                        },
                        x: {
                          ticks: {
                            maxRotation: 0,
                            minRotation: 0
                          }
                        }
                      }
                    }
                  }
                });
            </script>
        </div>
        <div class="weather-pollen-text-brich">Birken Pollen Belastung: {{ current_pollen_birch }} <br> <img src="{% static 'wetterapp/css/icons/pollen-tree.svg' %}" alt=""></div>
        <div class="weather-diagram-pollen-birch">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
            <div class="diagram-inner">
              <canvas class="weather-pollen-diagram" id="myChart-birch"></canvas>
            </div>
            <script>
                const xValuespollen_birch = ["0 Uhr","1 Uhr","2 Uhr","3 Uhr","4 Uhr","5 Uhr","6 Uhr","7 Uhr","8 Uhr","9 Uhr","10 Uhr","11 Uhr","12 Uhr","13 Uhr","14 Uhr","15 Uhr","16 Uhr","17 Uhr","18 Uhr","19 Uhr","20 Uhr","21 Uhr","22 Uhr","23 Uhr"];
                const yValuespollen_birch = {{ pollen_birch }};
                const ctxpollen_brich = document.getElementById('myChart-birch');

                new Chart(ctxpollen_brich, {
                  type: "line",
                  data: {
                    labels: xValuespollen_birch,
                    datasets: [{
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(0,0,255,1.0)",
                      borderColor: "rgba(0,0,255,0.1)",
                      data: yValuespollen_birch
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {display:false},
                      title: {
                        display: true,
                        text: "Briken Pollen Verlauf pro m³",
                        font: {size:16}
                      },
                      scales: {
                        y: {
                          min: 0
                        },
                        x: {
                          ticks: {
                            maxRotation: 0,
                            minRotation: 0
                          }
                        }
                      }
                    }
                  }
                });
            </script>
        </div>
        <div class="weather-pollen-text-grass">Gräser Pollen Belastung: {{ current_pollen_grass }} <br> <img src="{% static 'wetterapp/css/icons/pollen-grass.svg' %}" alt=""></div>
        <div class="weather-diagram-pollen-grass">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
            <div class="diagram-inner">
              <canvas class="weather-pollen-diagram" id="myChart-grass"></canvas>
            </div>
            <script>
                const xValuespollen_grass = ["0 Uhr","1 Uhr","2 Uhr","3 Uhr","4 Uhr","5 Uhr","6 Uhr","7 Uhr","8 Uhr","9 Uhr","10 Uhr","11 Uhr","12 Uhr","13 Uhr","14 Uhr","15 Uhr","16 Uhr","17 Uhr","18 Uhr","19 Uhr","20 Uhr","21 Uhr","22 Uhr","23 Uhr"];
                const yValuespollen_grass = {{ pollen_grass }};
                const ctxpollen_grass = document.getElementById('myChart-grass');

                new Chart(ctxpollen_grass, {
                  type: "line",
                  data: {
                    labels: xValuespollen_grass,
                    datasets: [{
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(0,0,255,1.0)",
                      borderColor: "rgba(0,0,255,0.1)",
                      data: yValuespollen_grass
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {display:false},
                      title: {
                        display: true,
                        text: "Gräser Pollen Verlauf pro m³",
                        font: {size:16}
                      },
                      scales: {
                        y: {
                          min: 0
                        },
                        x: {
                          ticks: {
                            maxRotation: 0,
                            minRotation: 0
                          }
                        }
                      }
                    }
                  }
                });
            </script>
        </div>
        <div class="weather-pollen-text-mugwort">Beifuss Pollen Belastung: {{ current_pollen_mugwort }} <br> <img src="{% static 'wetterapp/css/icons/pollen-grass.svg' %}" alt=""></div>
        <div class="weather-diagram-pollen-mugwort">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
            <div class="diagram-inner">
              <canvas class="weather-pollen-diagram" id="myChart-mugwort"></canvas>
            </div>
            <script>
                const xValuespollen_mugwort = ["0 Uhr","1 Uhr","2 Uhr","3 Uhr","4 Uhr","5 Uhr","6 Uhr","7 Uhr","8 Uhr","9 Uhr","10 Uhr","11 Uhr","12 Uhr","13 Uhr","14 Uhr","15 Uhr","16 Uhr","17 Uhr","18 Uhr","19 Uhr","20 Uhr","21 Uhr","22 Uhr","23 Uhr"];
                const yValuespollen_mugwort = {{ pollen_mugwort }};
                const ctxpollen_mugwort = document.getElementById('myChart-mugwort');

                new Chart(ctxpollen_mugwort, {
                  type: "line",
                  data: {
                    labels: xValuespollen_mugwort,
                    datasets: [{
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(0,0,255,1.0)",
                      borderColor: "rgba(0,0,255,0.1)",
                      data: yValuespollen_mugwort
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {display:false},
                      title: {
                        display: true,
                        text: "Beifuss Pollen Verlauf pro m³",
                        font: {size:16}
                      },
                      scales: {
                        y: {
                          min: 0
                        },
                        x: {
                          ticks: {
                            maxRotation: 0,
                            minRotation: 0
                          }
                        }
                      }
                    }
                  }
                });
            </script>
        </div>
        <div class="weather-pollen-text-ragweed">Ambrosia Pollen Belastung: {{ current_pollen_ragweed }} <br> <img src="{% static 'wetterapp/css/icons/pollen-flower.svg' %}" alt=""></div>
        <div class="weather-diagram-pollen-ragweed">
            <script src="https://cdn.jsdelivr.net/npm/chart.js@4.5.0"></script>
            <div class="diagram-inner">
              <canvas class="weather-pollen-diagram" id="myChart-ragweed"></canvas>
            </div>
            <script>
                const xValuespollen_ragweed = ["0 Uhr","1 Uhr","2 Uhr","3 Uhr","4 Uhr","5 Uhr","6 Uhr","7 Uhr","8 Uhr","9 Uhr","10 Uhr","11 Uhr","12 Uhr","13 Uhr","14 Uhr","15 Uhr","16 Uhr","17 Uhr","18 Uhr","19 Uhr","20 Uhr","21 Uhr","22 Uhr","23 Uhr"];
                const yValuespollen_ragweed = {{ pollen_ragweed }};
                const ctxpollen_ragweed = document.getElementById('myChart-ragweed');

                new Chart(ctxpollen_ragweed, {
                  type: "line",
                  data: {
                    labels: xValuespollen_ragweed,
                    datasets: [{
                      fill: false,
                      lineTension: 0.1,
                      backgroundColor: "rgba(0,0,255,1.0)",
                      borderColor: "rgba(0,0,255,0.1)",
                      data: yValuespollen_ragweed
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {
                      legend: {display:false},
                      title: {
                        display: true,
                        text: "Ambrosia Pollen Verlauf pro m³",
                        font: {size:16}
                      },
                      scales: {
                        y: {
                          min: 0
                        },
                        x: {
                          ticks: {
                            maxRotation: 0,
                            minRotation: 0
                          }
                        }
                      }
                    }
                  }
                });
            </script>
        </div>
        {% endif %}
        <div class="uv-index">UV Index: {{ uv_index|floatformat:0 }} <br> UV Kategorie: {{ uv_category }} <img src="{% static 'wetterapp/css/icons/uv-index.svg' %}?v=2" alt="" draggable="false"></div>
        <div class="uv-index-icon">
          {% if uv_index %}
            <img src="{% static 'wetterapp/css/icons/uv-index-' %}{{ uv_index|floatformat:0 }}.svg" alt="" draggable="false">
          {% else %}
            <img src="{% static 'wetterapp/css/icons/not-available.svg' %}" alt="" draggable="false">
          {% endif %}
        </div>
        <div class="sunshine-duration">Sonnenscheindauer: {{ sunshine_duration }} Stunden <br> <img src="{% static 'wetterapp/css/icons/sun-hot.svg' %}?v=2" alt="" draggable="false"></div>
        <div class="daylight-duration">Tageslichtdauer: {{ daylight_duration }} Stunden <br> <img src="{% static 'wetterapp/css/icons/daylight-duration.svg' %}?v=2" alt="" draggable="false"></div>
    </div>
{% endblock %}