* {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: lightgray;
  padding: 20px;
}
.header h1 {
  margin-top: 0;
  margin-left: 10px;
}

.main {
  margin: 10px;
}

.content-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text text"
    "last favorite";
  gap: 10px;
}

.content-home-text {
  grid-area: text;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
}

.content-home-last-citys {
  grid-area: last;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
}

.content-home-favorite-citys {
  text-align: center;
  grid-area: favorite;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
}

.nav-buttons {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.nav-buttons:hover {
  text-decoration: underline;
}

.content-weather {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-template-areas:
    "searchbar searchbar"
    "hour-text hour-text"
    "place weather-icon-hour"
    "temperature weather-icon-hour"
    "pressure weather-icon-hour"
    "condition weather-icon-hour"
    "daily-text daily-text"
    "daily-min weather-icon-daily"
    "daily-max weather-icon-daily"
    "daily-condition weather-icon-daily";
  gap: 10px;
}

@media (max-width: 600px) {
  .content-weather {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "searchbar"
    "hour-text"
    "weather-icon-hour"
    "place"
    "temperature"
    "pressure"
    "condition"
    "daily-text"
    "weather-icon-daily"
    "daily-min"
    "daily-max"
    "daily-condition";
  gap: 10px;
}
}

.weather-hour-text {
  grid-area: hour-text;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-daily-text {
  grid-area: daily-text;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-daily-min-temp {
  grid-area: daily-min;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-daily-max-temp {
  grid-area: daily-max;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-icon-hour,
.weather-place,
.weather-temperature,
.weather-pressure,
.weather-condition,
.weather-hour-text,
.weather-daily-text,
.weather-daily-min-temp,
.weather-daily-max-temp,
.weather-icon-daily,
.weather-condition-daily {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.searchbar {
  background-color: lightgray;
  grid-area: searchbar;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.searchbar input {
  flex: 1;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
}

.searchbar input::placeholder {
  color: black;
}

.searchbar button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar button:hover {
  background-color: #c0c0c0;
}

.searchbar form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.weather-icon-daily {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: weather-icon-daily;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-icon-hour {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: weather-icon-hour;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-place {
  grid-area: place;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-temperature {
  grid-area: temperature;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-temperature img {
  width: 100px;
  height: 100px;
}

.weather-pressure {
  grid-area: pressure;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-pressure img {
  width: 100px;
  height: 100px;
}

.weather-condition {
  grid-area: condition;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-condition-daily {
  grid-area: daily-condition;
  background-color: lightgray;
  border-radius: 10px;
}

.content-citys {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.city-item {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-areas: 
  "city-name cordinates favorite-button";
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.favorite-button,
.city-name,
.city-cordinates,
.favorite-button button {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 10px;
  mar
}

.favorite-button button {
  border-radius: 10px;
  background-color: rgb(185, 185, 185);
  border: none;
}

.favorite-button button:hover {
  border-radius: 10px;
  background-color: rgb(231, 229, 229);
}

.favorite-button button:active {
  border-radius: 10px;
  background-color: rgb(185, 185, 185);
}

.content-userpage {
  display: grid;
  grid-template-areas: "user-picture username button";
  align-items: center;
}

.user-picutre {
  grid-area: user-picture;
  width: 150px;
}

.logout-button {
  grid-area: button;
  background-color: lightgray;
  height: 80px;
  border: none;
  border-radius: 10px;
}

.logout-button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.logout-button:active {
  background-color: gray;
}

.username {
  text-decoration: none;
}

.main{
  padding: 20px;
}