* {
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
.header {
  background-color: lightgray;
  padding: 20px;
}
.header h1 {
  margin-top: 0;
  margin-left: 10px;
}

.main {
  margin: 10px;
}

.content-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text text"
    "last favorite";
  gap: 10px;
}

.content-home-text {
  grid-area: text;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
}

.content-home-text img {
  width: 200px;
  height: 200px;
  grid-area: text;
  background-color: lightgray;
  border-radius: 10px;
}

.content-home-last-citys {
  grid-area: last;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
}

.content-home-favorite-citys {
  text-align: center;
  grid-area: favorite;
  background-color: lightgray;
  border-radius: 10px;
  text-align: center;
}

.nav-buttons {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.nav-buttons:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .content-home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "last"
      "favorite";
    gap: 10px;
  }
}

.content-weather {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "searchbar searchbar"
    "hour-text hour-text"
    "place weather-icon-hour"
    "temperature weather-icon-hour"
    "pressure weather-icon-hour"
    "condition weather-icon-hour"
    "daily-text daily-text"
    "daily-min weather-icon-daily"
    "daily-max weather-icon-daily"
    "daily-condition weather-icon-daily"
    "weather-diagram-temp weather-diagram-temp"
    "weather-diagram-precipitation weather-diagram-precipitation"
    "weather-sunrise weather-sunset"
    "weather-wind-speed weather-wind-speed-icon"
    "uv-index uv-index-icon"
    "pollen-alder-text pollen-alder-diagram"
    "pollen-brich-text pollen-birch-diagram"
    "pollen-grass-text pollen-grass-diagram"
    "pollen-mugwort-text pollen-mugwort-diagram"
    "pollen-ragweed-text pollen-ragweed-diagram"
    "sunshine-duration daylight-duration";
  gap: 10px;
}

.sunshine-duration{
  grid-area: sunshine-duration;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.daylight-duration{
  grid-area: daylight-duration;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-pollen-text-alder {
  grid-area: pollen-alder-text;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-pollen-text-brich {
  grid-area: pollen-brich-text;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-pollen-text-grass {
  grid-area: pollen-grass-text;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-pollen-text-mugwort {
  grid-area: pollen-mugwort-text;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-pollen-text-ragweed {
  grid-area: pollen-ragweed-text;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-diagram-pollen-alder {
  grid-area: pollen-alder-diagram;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
}

.weather-diagram-pollen-birch {
  grid-area: pollen-birch-diagram;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
}

.weather-diagram-pollen-grass {
  grid-area: pollen-grass-diagram;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
}

.weather-diagram-pollen-mugwort {
  grid-area: pollen-mugwort-diagram;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
}

.weather-diagram-pollen-ragweed {
  grid-area: pollen-ragweed-diagram;
  background-color: lightgray;
  border-radius: 10px;
  position: relative;
}

.daylight-duration img {
  height: 200px;
  width: 200px;
}

.weather-pollen-text-alder img,
.weather-pollen-text-brich img, 
.weather-pollen-text-grass img, 
.weather-pollen-text-mugwort img,
.weather-pollen-text-ragweed img,
.sunshine-duration img{
  height: 150px;
  width: 150px;
  padding: 15px;
}

.weather-sunrise{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: weather-sunrise;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-sunrise img{
  height: 150px;
  width: 150px;
}

.weather-sunset img{
  height: 150px;
  width: 150px;
}

.weather-sunset{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: weather-sunset;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.weather-diagram-temp{
  grid-area: weather-diagram-temp;
  background-color: lightgray;
  border-radius: 10px;
  position: relative; 
}

.weather-diagram-precipitation{
  grid-area: weather-diagram-precipitation;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
  height: 450px;
  position: relative;
}

.weather-diagram-temp,
.weather-diagram-precipitation,
.weather-diagram-pollen-alder,
.weather-diagram-pollen-brich,
.weather-diagram-pollen-grass,
.weather-diagram-pollen-mugwort,
.weather-diagram-pollen-ragweed {
  overflow-x: auto;
  height: 300px;
  padding: 30px;
}

.diagram-inner {
  min-width: 400px;
  height: 100%;
  position: relative;
}

.weather-temp-diagram,
.weather-precipitation-diagram,
.weather-pollen-diagram {
  width: 100% !important;
  height: 100% !important;
  min-width: unset;
}

.weather-wind-speed{
  display: flex;
  background-color: lightgray;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  grid-area: weather-wind-speed;
  padding: 15px;
}

.weather-wind-speed img{
  height: 150px;
  width: 150px;
}

.weather-wind-speed-text{
  display: flex;
  grid-area: text;
  justify-content: center;
  align-items: center;
}

.weather-wind-speed-icon{
  display: flex;
  grid-area: weather-wind-speed-icon;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  height: 60vh;
}

.uv-index{
  grid-area: uv-index;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
}

.uv-index img{
  height: 150px;
  width: 150px;
}

.uv-index-icon{
  grid-area: uv-index-icon;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
  height: 60vh;
}

@media (max-width: 870px) {
  .content-weather {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "searchbar"
    "hour-text"
    "weather-icon-hour"
    "place"
    "temperature"
    "pressure"
    "condition"
    "weather-diagram-temp"
    "weather-diagram-precipitation"
    "daily-text"
    "weather-icon-daily"
    "daily-min"
    "daily-max"
    "daily-condition"
    "weather-sunrise"
    "weather-sunset"
    "weather-wind-speed"
    "weather-wind-speed-icon"
    "uv-index"
    "uv-index-icon"
    "pollen-alder-text" 
    "pollen-alder-diagram"
    "pollen-brich-text" 
    "pollen-birch-diagram"
    "pollen-grass-text" 
    "pollen-grass-diagram"
    "pollen-mugwort-text" 
    "pollen-mugwort-diagram"
    "pollen-ragweed-text" 
    "pollen-ragweed-diagram"
    "sunshine-duration"
    "daylight-duration";
  gap: 10px;
}
}

.weather-hour-text {
  grid-area: hour-text;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-daily-text {
  grid-area: daily-text;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-daily-min-temp {
  grid-area: daily-min;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-daily-max-temp {
  grid-area: daily-max;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-icon-hour,
.weather-place,
.weather-temperature,
.weather-pressure,
.weather-condition,
.weather-hour-text,
.weather-daily-text,
.weather-daily-min-temp,
.weather-daily-max-temp,
.weather-icon-daily,
.weather-condition-daily {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.searchbar {
  background-color: lightgray;
  grid-area: searchbar;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
}

.searchbar input {
  flex: 1;
  background-color: lightgray;
  border: none;
  border-radius: 10px;
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
}

.searchbar input::placeholder {
  color: black;
}

.searchbar button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: lightgray;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchbar button:hover {
  background-color: #c0c0c0;
}

.searchbar form {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.weather-icon-daily {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: weather-icon-daily;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-icon-hour {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: weather-icon-hour;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-place {
  grid-area: place;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-place img{
  width: 150px;
  height: 150px;
}

.weather-temperature {
  grid-area: temperature;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-temperature img {
  width: 150px;
  height: 150px;
}

.weather-pressure {
  grid-area: pressure;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-pressure img {
  width: 100px;
  height: 100px;
}

.weather-condition {
  grid-area: condition;
  background-color: lightgray;
  border-radius: 10px;
}

.weather-condition-daily {
  grid-area: daily-condition;
  background-color: lightgray;
  border-radius: 10px;
}

.content-citys {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.city-item {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-areas: 
  "city-name cordinates favorite-button";
  background-color: lightgray;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
}

.favorite-button,
.city-name,
.city-cordinates,
.favorite-button button {
  display: flex;
  justify-items: center;
  align-items: center;
  margin: 10px;
}

.favorite-button button {
  border-radius: 10px;
  background-color: rgb(185, 185, 185);
  border: none;
}

.favorite-button button:hover {
  border-radius: 10px;
  background-color: rgb(231, 229, 229);
}

.favorite-button button:active {
  border-radius: 10px;
  background-color: rgb(185, 185, 185);
}

@media (max-width: 600px) {
  .city-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "city-name" 
    "cordinates" 
    "favorite-button";
    background-color: lightgray;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
}
}

.content-userpage {
  display: grid;
  grid-template-areas: "user-picture username button";
  align-items: center;
}

.user-picutre {
  grid-area: user-picture;
  width: 150px;
}

.logout-button {
  grid-area: button;
  background-color: lightgray;
  height: 80px;
  border: none;
  border-radius: 10px;
}

.logout-button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.logout-button:active {
  background-color: gray;
}

.username {
  text-decoration: none;
}

.main{
  padding: 20px;
}