/* Ganze Seite */

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

:root {
  --color-bg: rgb(163, 195, 217);
  --radius: 10px;
  --padding: 15px;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
}
.header {
  background-color: var(--color-bg);
  padding: 20px;
  width: auto;
}
.header h1 {
  margin-top: 0;
  margin-left: 10px;
}
img {
  max-width: 100%;
  height: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  margin: 10px;
}

/* Home Seite */

.content-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "text text"
    "last favorite";
  gap: 10px;
}

@media (max-width: 600px) {
  .content-home {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "text"
      "last"
      "favorite";
  }
}

.content-home-text {
  padding: var(--padding);
  grid-area: text;
}

.content-home-text img {
  width: 200px;
  height: 200px;
}

.content-home-last-citys {
  background-color: var(--color-bg);
}

.content-home-favorite-citys {
  grid-area: favorite;
}

.content-home-text,
.content-home-favorite-citys,
.content-home-last-citys {
  background-color: var(--color-bg);
  border-radius: var(--radius);
  text-align: center;
}

/* Base Template */

.nav-buttons {
  text-decoration: none;
  color: black;
  margin: 10px;
}

.nav-buttons:hover {
  text-decoration: underline;
}

/* Weather Seite */

.content-weather {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "searchbar"
    "temp-card"
    "precipitation-card"
    "wind-card"
    "uv-card"
    "sun-card"
    "pollen-card";
  gap: 10px;
}

/* Temparatur Card */

.temp-card {
  grid-area: temp-card;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1.5fr;
  grid-template-areas:
    "temp-card-text temp-card-text temp-card-text weather-icon-hour"
    "weather-place weather-temperature temp-card-icon-compass weather-icon-hour"
    "weather-daily-max-temp weather-daily-max-temp weather-daily-max-temp weather-icon-hour"
    "weather-daily-min-temp weather-daily-min-temp weather-daily-min-temp weather-icon-hour"
    "weather-diagram-temp weather-diagram-temp weather-diagram-temp weather-icon-hour";
}

.temp-card-text {
  grid-area: temp-card-text;
}

.weather-place {
  grid-area: weather-place;
}

.temp-card-icon-compass {
  grid-area: temp-card-icon-compass;
}

.temp-card-icon-compass img {
  height: 150px;
  width: 150px;
}

.temp-card-icon-weather {
  grid-area: weather-icon-hour;
}

/* .temp-card-icon-weather img {
  width: 100%;
  max-width: 400px;
  height: auto;
} */

.weather-temperature {
  grid-area: weather-temperature;
}

.weather-daily-min-temp {
  grid-area: weather-daily-min-temp;
}

.weather-daily-max-temp {
  grid-area: weather-daily-max-temp;
}

.weather-diagram-temp{
  grid-area: weather-diagram-temp;
}

@media (max-width: 870px) {
.temp-card {
  grid-area: temp-card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "temp-card-text"
    "weather-icon-hour"
    "weather-place"
    "temp-card-icon-compass" 
    "weather-temperature" 
    "weather-daily-max-temp"
    "weather-daily-min-temp"
    "weather-diagram-temp";
}
}

/* Niederschlag Card */

.precipitation-card {
  grid-area: precipitation-card;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas:
    "precipitation-card-text precipitation-card-icon-weather"
    "weather-diagram-precipitation precipitation-card-icon-weather";
}

.precipitation-card-text {
  grid-area: precipitation-card-text;
}

.precipitation-card-icon-weather {
  grid-area: precipitation-card-icon-weather;
}

.precipitation-card-icon-weather img,
.temp-card-icon-weather img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.weather-diagram-precipitation{
  grid-area: weather-diagram-precipitation;
}

@media (max-width: 870px) {
.precipitation-card {
  grid-area: precipitation-card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "precipitation-card-text"
    "precipitation-card-icon-weather"
    "weather-diagram-precipitation";
}
}

/* Wind Card */

.wind-card {
  grid-area: wind-card;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "wind-card-text wind-card-text"
    "weather-wind-speed wind-card-icon-weather";
}

.wind-card-text {
  height: 100px;
  grid-area: wind-card-text;
}

.wind-card-icon-weather{
  grid-area: wind-card-icon-weather;
}

.wind-card-icon-weather img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.weather-wind-speed{
  grid-area: weather-wind-speed;
}

.weather-wind-speed img{
  height: 200px;
  width: 200px;
}

@media (max-width: 870px) {
.wind-card {
  grid-area: wind-card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "wind-card-text"
    "wind-card-icon-weather"
    "weather-wind-speed";
}
.weather-wind-speed img{
  height: 150px;
  width: 150px;
}
}
/* UV Card */

.uv-card {
  grid-area: uv-card;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "uv-card-text uv-card-text"
    "uv-index uv-index-icon";
}

.uv-card-text {
  grid-area: uv-card-text;
}

.uv-index{
  grid-area: uv-index;
}

.uv-index img{
  height: 150px;
  width: 150px;
}

.uv-index-icon{
  grid-area: uv-index-icon;
}

.uv-index-icon img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

@media (max-width: 870px) {
  .uv-card {
    grid-area: uv-card;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "uv-card-text"
      "uv-index-icon"
      "uv-index";
}
}

/* Sonnen Card */

.sun-card {
  grid-area: sun-card;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "sun-card-text sun-card-text"  
    "weather-sunrise weather-sunset"
    "sunshine-duration daylight-duration";
}

.sun-card-text {
  grid-area: sun-card-text;
}

.daylight-duration img {
  height: 200px;
  width: 200px;
}

.weather-sunrise{
  grid-area: weather-sunrise;
}

.weather-sunset{
  grid-area: weather-sunset;
}

.sunshine-duration{
  grid-area: sunshine-duration;
}

.daylight-duration{
  grid-area: daylight-duration;
}

.weather-sunrise,
.weather-sunset{
  background-color: var(--color-bg);
  border-radius: var(--radius);
  padding: var(--padding);
}

.weather-sunrise img,
.weather-sunset img{
  height: 150px;
  width: 150px;
}

@media (max-width: 870px) {
  .sun-card {
  grid-area: sun-card;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "sun-card-text"  
    "weather-sunrise"
    "weather-sunset"
    "sunshine-duration" 
    "daylight-duration";
}
}

/* Pollen Card */

.pollen-card {
  grid-area: pollen-card;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "pollen-card-text pollen-card-text"
    "weather-pollen-text-alder weather-diagram-pollen-alder"
    "weather-pollen-text-brich weather-diagram-pollen-birch"
    "weather-pollen-text-grass weather-diagram-pollen-grass"
    "weather-pollen-text-mugwort weather-diagram-pollen-mugwort"
    "weather-pollen-text-ragweed weather-diagram-pollen-ragweed";
}

.weather-pollen-text-alder {
  grid-area: weather-pollen-text-alder;
}

.weather-pollen-text-brich {
  grid-area: weather-pollen-text-brich;
}

.weather-pollen-text-grass {
  grid-area: weather-pollen-text-grass;
}

.weather-pollen-text-mugwort {
  grid-area: weather-pollen-text-mugwort;
}

.weather-pollen-text-ragweed {
  grid-area: weather-pollen-text-ragweed;
}
.weather-diagram-pollen-alder {
  grid-area: weather-diagram-pollen-alder;
}

.weather-diagram-pollen-birch {
  grid-area: weather-diagram-pollen-birch;
}

.weather-diagram-pollen-grass {
  grid-area: weather-diagram-pollen-grass;
}

.weather-diagram-pollen-mugwort {
  grid-area: weather-diagram-pollen-mugwort;
}

.weather-diagram-pollen-ragweed {
  grid-area: weather-diagram-pollen-ragweed;
}

@media (max-width: 870px) {
  .pollen-card {
    grid-area: pollen-card;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "pollen-card-text"
      "weather-pollen-text-alder" 
      "weather-diagram-pollen-alder"
      "weather-pollen-text-brich" 
      "weather-diagram-pollen-birch"
      "weather-pollen-text-grass" 
      "weather-diagram-pollen-grass"
      "weather-pollen-text-mugwort" 
      "weather-diagram-pollen-mugwort"
      "weather-pollen-text-ragweed" 
      "weather-diagram-pollen-ragweed";
}
}

.temp-card,
.precipitation-card,
.wind-card,
.uv-card,
.sun-card,
.pollen-card {
  background-color: var(--color-bg);
  border-radius: var(--radius);
  padding: var(--padding);
}

.sunshine-duration,
.daylight-duration,
.weather-pollen-text-alder,
.weather-pollen-text-brich,
.weather-pollen-text-grass,
.weather-pollen-text-mugwort,
.weather-pollen-text-ragweed{
  background-color: var(--color-bg);
  border-radius: var(--radius);
  padding: var(--padding);
}

.weather-pollen-text-alder img,
.weather-pollen-text-brich img, 
.weather-pollen-text-grass img, 
.weather-pollen-text-mugwort img,
.weather-pollen-text-ragweed img,
.sunshine-duration img{
  height: 150px;
  width: 150px;
}

.weather-diagram-temp,
.weather-diagram-precipitation,
.weather-diagram-pollen-alder,
.weather-diagram-pollen-birch,
.weather-diagram-pollen-grass,
.weather-diagram-pollen-mugwort,
.weather-diagram-pollen-ragweed {
  overflow-x: auto;
  height: 300px;
  background-color: var(--color-bg);
  border-radius: var(--radius);
  position: relative;
  padding: var(--padding);
}

.diagram-inner {
  min-width: 100px;
  height: 100%;
  width: 100%;
  position: relative;
}

.weather-temp-diagram,
.weather-precipitation-diagram,
.weather-pollen-diagram {
  width: 100% !important;
  height: 100% !important;
  min-width: unset;
}

.uv-index,
.weather-wind-speed,
.uv-index-icon {
  background-color: var(--color-bg);
  border-radius: var(--radius);
  padding: var(--padding);
}

.weather-place,
.weather-temperature,
.weather-daily-min-temp,
.weather-daily-max-temp {
  padding: var(--padding);
  background-color: var(--color-bg);
  border-radius: var(--radius);
}

.searchbar {
  background-color: var(--color-bg);
  grid-area: searchbar;
  display: flex;
  gap: 10px;
  padding: var(--padding);
  border-radius: var(--radius);
}

.searchbar input {
  flex: 1;
  background-color: var(--color-bg);
  border: none;
  border-radius: var(--radius);
  padding: 12px 20px;
  font-size: 16px;
  outline: none;
}

.searchbar input::placeholder {
  color: black;
}

.searchbar button {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  background-color: var(--color-bg);
  border: none;
  cursor: pointer;
}

.searchbar button:hover {
  background-color: #c0c0c0;
}

.searchbar form {
  display: flex;
  gap: 10px;
  width: 100%;
}

.weather-place img{
  width: 150px;
  height: 150px;
}

.weather-temperature img {
  width: 150px;
  height: 150px;
}

/* Cities Seite */

.content-citys {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  margin-top: 10px;
}

.city-item {
  display: grid;
  grid-template-columns: 2fr 2fr 0.5fr;
  grid-template-areas: 
  "city-name cordinates favorite-button";
  background-color: var(--color-bg);
  border-radius: var(--radius);
  padding: var(--padding);
  text-align: center;
}

.favorite-button,
.city-name,
.city-cordinates,
.favorite-button button {
  margin: 10px;
}

.favorite-button button {
  background-color: rgb(185, 185, 185);
  border: none;
  border-radius: var(--radius);
}

.favorite-button button:hover {
  background-color: rgb(231, 229, 229);
}

.favorite-button button:active {
  background-color: rgb(185, 185, 185);
}

@media (max-width: 600px) {
  .city-item {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "city-name" 
    "cordinates" 
    "favorite-button";
}
}

/* User Page */

.content-userpage {
  display: grid;
  grid-template-areas: "user-picture username button";
  align-items: center;
}

.user-picutre {
  grid-area: user-picture;
  width: 150px;
}

.logout-button {
  grid-area: button;
  background-color: var(--color-bg);
  height: 80px;
  border: none;
  border-radius: var(--radius);
}

.logout-button:hover {
  cursor: pointer;
  border: 1px solid black;
}

.logout-button:active {
  background-color: gray;
}

.username {
  text-decoration: none;
}
